/* Navbar Styling */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f0f1cb;
   }

#nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: white;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 9999;
}

.nav-link {
  font-size: 20px;
  text-decoration: none;
  color: white;
  margin-right: 20px;
  transition: 0.3s ease-in-out;
}

.nav-link:hover {
  color: #64D2FF;
}

.resume {
  margin-right: 0;
}

.resume-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-button p {
  margin-right: 15px;
  font-size: 24px;
}

.resume-button a {
  font-size: 20px;
  text-decoration: none;
  color: #64D2FF;
  transition: 0.3s ease-in-out;
  margin-right: 20px;
}

.resume-button a:hover {
  color: #fff;
}

.fa-arrow-up-right-from-square, .fa-download {
  font-size: 24px;
}

/* Home Section Styling */
.home {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  /* margin-top: 100px; */
}
.home_about
{
  margin-top: 50px;
   display: flex;
   justify-content: space-around;
   /* height: 200px; */
}

#resume_container
{
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

.resume-icon
{
   display: flex;
   justify-content: center;
   align-items: center;
   /* border: solid 2px black; */
   border-radius: 7px;
   padding: 10px;
   /* background-color: #d6c5c5; */
}
.resume-icon>a>img
{
  height: 2rem;
  width: 2rem;
}
.home-img {
  display: block;
  margin: 0 auto;
  width: 200px;
  
  border-radius: 5px; 
  /* margin-top: 50px; */
}

/* About Section Styling */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 100px; */
}

#user-detail-name {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

#user-detail-intro {
  font-size: 24px;
}

/* Skills Section Styling */
#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.skills-card {
  margin: 20px;
  padding: 20px;
  background-color: #F5F5F5;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: 0.3s ease-in-out;
  width: 200px;
  height: 200px;
}

.skills-card:hover {
  transform: scale(1.1);
}

.skills-card-img {
  width: 80px;
  height: 80px;
}

.skills-card-name {
  font-size: 24px;
  margin-top: 10px;
}

/* Projects Section Styling */
/* Global styles */

/* Projects Section styles */
#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#deploy_container
{
   display: flex;
   justify-content: space-around;
   width: 30%;
   margin: auto;
}
.project-card {
  margin: 20px;
  max-width: 450px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.project-card img {
  max-width: 100%;
  height: 300px;
  border-radius: 5px 5px 0 0;
}

.project-title {
  font-size: 24px;
  margin: 10px 0;
}

.project-description {
  margin: 10px;
}

.project-tech-stack {
  font-size: 14px;
  margin: 10px;
}

.project-github-link,
.project-deployed-link {
  display: block;
  margin: 10px;
  text-decoration: none;
  color: #007bff;
}

/* Github-stats section styles */
#github-stats {
  background-color: #f7f7f7;
  padding: 50px 0;
}
.section-title
{
   align-items: center;
}
#github-stats-card {
  /* max-width: 800px; */
  margin: 0 auto;
}

.github-stat img {
  max-width: 100%;
}
.row
{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}


/* Contact section styles */
#contact {
  /* background-color: #007bff; */
  
  padding: 50px 0;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info li {
  margin: 10px 0;
}

#contact-phone,
#contact-email {
  margin-left: 10px;
}
#contact-linkedin,
#contact-github {
  margin-left: 5px;
  /* color: #fff; */
  text-decoration: none;
}
#contact_icon
{
  height: 30px;
  width: 30px;
}
#contact-linkedin:hover,
#contact-github:hover {
  text-decoration: underline;
}
#contact_container
{
  display: flex;
}
#contact_card
{
  display: block;
}
.col-md-6
{
   width: 30%;
   line-height: 25px;
}
.section-title>h2
{
   font-size: 60px;
   text-align: center;
}


/* CSS for screens with width less than or equal to 768 pixels */
@media only screen and (max-width: 768px) {
  /* Navbar */
  #nav-menu {
    flex-direction: column;
  }
  .nav-link {
    margin: 10px 0;
    display: block;
    text-align: center;
  }
  .resume {
    display: none;
  }

  /* Resume section */
  #resume {
    display: none;
  }

  /* About section */
  #user-detail-name {
    font-size: 24px;
  }
  #user-detail-intro {
    font-size: 18px;
  }

  /* Skills section */
  .skills-card {
    width: 100%;
  }
  .skills-card-name {
    margin-top: 5px;
  }
    
    .section-title h2 {
      font-size: 2em;
    }
    
    /* Or you can change the layout of the project cards */
    #projects .project-card {
      display: flex;
      flex-direction: row;
    }
  
}